.tran{
  transition: .6s !important;
}
.flow{
  overflow: hidden;
}
.menu span{
  height: 3px;
  width: 40px;
  background: white;
margin-top: 5px;
display: none;
  flex-direction: column;
  z-index: 5 !important;
  position: relative;
}
.view{
 right: 0 !important;
}
.close{
  right: -100%;
}
@media (max-width:786px)  {
  .mobile{
    flex-direction: column !important;
    display: flex;
    position: fixed;
   height: 100vh !important;
    background: blue;
    top: 0;
    width: 100% !important;
    transition: .7s;
  }
  .mobileView{
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: aqua;
    position: fixed;
    top: 0;
    
  }
  .menu span{
    display: flex !important;
  }
}